$header-bg: #bcbce0;
$footer-bg: #18181d;


.header {
  background: $header-bg;
}

.header_wrapper {
  display: flex;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-height: 100px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer {
  height: 100px;
  background: $footer-bg;
  color: white;
}

.footer_wrapper {
  max-width: 1280px;
  padding: 26px 20px 0;
  margin: 0 auto;
}

.header_link {
  color: #18181d;
  margin-right: 10px;
}

.header_nav {}

.text_container {
  p {
    margin-bottom: 10px;
  }
}

.wrapper {
  padding: 20px 40px 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  background: #a1a1a1;
  font-size: 38px;
  color: white;
  width: 180px;
  height: 60px;
  text-align: center;
  flex-shrink: 0;
  margin-right: 20px;
}


@media (max-width: 420px) {
  .header_wrapper {
    display: block;
    margin: 0;
    padding: 20px 0;
  }

  .logo {
    margin: 0 auto;
  }

  .header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}